* {
    margin: 0px;
    padding: 0px;
}
html {
    background-color: #fff;
    color: #555;
    box-sizing: border-box;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}